/*
Visual Frameworks
09/2011
Thomas Burns
*/


#fit_form {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #CCC;
	margin-right: auto;
	margin-left: auto;
	width: 616px;
	padding-right: 10px;
	padding-left: 10px;
	border: 2px solid #000;
}

legend {
	font-weight: bold;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

#fit_form form fieldset ul li {
	list-style-type: none;
}

#cmt {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#fit_form h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-decoration: underline;
	text-align: center;
}

#fit_form form fieldset ul li label {
	display: block;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#fit_form h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

body {
	background-color: #ccc;
}

clear {
	display:none;
	margin: 15px;
}
	
#clear a {
	color:#F00;	
}