/*
Visual Frameworks
09/2011
Thomas Burns
*/



#site_wrap {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#head_div {
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	background-color: #666;
	width: 640px;
	padding-bottom: 10px;
}
#clear_sect {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 10px;
}

legend {
	font-weight: bold;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

form fieldset ul li {
	list-style-type: none;
}

#cmt {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-decoration: underline;
	text-align: center;
	color: #FFF;
}

form fieldset ul li label {
	display: block;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #FFF;
}

body {
	background-color: #ccc;
}
