#fit_form {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #CCC;
	margin-right: auto;
	margin-left: auto;
	min-width: 640px;
	max-width: 1024px;
	min-height: 640px;
	max-height: 1024px;
}
body {
	background-color: #ccc;
}
